<!-- hier komen stukken code die niet nodig zijn, som blijft html gelezen ookal is het in comments gezet -->
<!-- code hieronder is om de tabel weer te geven -->

<!-- {% for list in results_table %}
                <table class ="w3-table w3-centered w3-bordered w3-border w3-hoverable w3-table-all">
                    <colgroup>

                    </colgroup>
                    <tr>
                        <th colspan="4">titellijst</th>
                    </tr>
                    <tr> 
                        <th></th>
                        <th>huidige situatie</th>
                        <th>nieuwe situatie zonder PV</th>
                        <th>nieuwe situatie met PV</th>

                        </tr>
                        {% for row in list %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                                    
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                        </tr>

                        {% endfor %}
                </table>
                {% endfor %}
        </div>

    {% endif %} 
-->