{% extends 'index.html' %}

{% block content %}
<div  class = "column" >

    <h1 class = "page_title"> Huidige voorzieningen </h1>
<form method="POST">
    {{ form.csrf_token }}

    <p> 
        {{ form.rv.label }}
        {{ form.rv(size=5, width = 50) }}
    </p>

    {% if form.rv.errors %}
        <ul class="errors">
            {% for error in form.voorzieningRV.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <p> 
        {{ form.sww.label }}
        {{ form.sww(size=5, width = 50) }}
    </p>

    {% if form.sww.errors %}
        <ul class="errors">
            {% for error in form.sww.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p> 
        {{ form.elec.label }}
        {{ form.elec(size=5, width = 50) }}
    </p>

    {% if form.elec.errors %}
        <ul class="errors">
            {% for error in form.elec.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <input type="submit" value="Submit">
    </p>
</form>

</div>

<div  class = "column" >
    <h1 class = "page_title"> Uitleg </h1>
    <p>De tweede stap zoomt verder in op de huidige systemen die 
        geïnstalleerd zijn. U hebt daarnet aangeduid dat u geen combisysteem heeft voor uw ruimteverwarming en sanitair warm water, hieronder vragen wij bijgevolg welk systeem u voor welke toepassing geinstalleerd hebt. 
        Door op de secties hieronder te klikken kunt u per vraag extra uitleg raadplegen.         
    </p>
    <button type="button" class="collapsible">Ruimteverwarming</button>
    <div class="content">
        <p> 
            <ul>
                <li>Stookolieketel:</li>
            Deze ketel verbrandt stookolie zodat de vrijgekomen warmte gestuurd kan worden naar bv.  radiatoren of vloerverwarming die op hun beurt de ruimte opwarmen. Typisch bevat deze installatie ook een grote tank waarin stookolie opgeslagen wordt.
                <li>Gasketel:</li>
            Deze ketel verbrandt aardgas zodat de vrijgekomen warmte gestuurd kan worden naar bv.  radiatoren of vloerverwarming die op hun beurt de ruimte opwarmen. Hiervoor is een gasleiding vereist.
                <li>Elektrische ketel:</li>
            Deze ketel bevat een elektrisch verwarmingselement zodat de opgewekte warmte gestuurd kan worden naar bv. radiatoren of vloerverwarming die op hun beurt de ruimte opwarmen.
        </ul>
        </div>
    <button type="button" class="collapsible">Sanitair warm water</button>
    <div class="content">
        <p><ul><li>Doorstroomboiler op gas:</li>
            Deze ketel verbrandt stookolie zodat de vrijgekomen warmte gestuurd kan worden naar bv.  radiatoren of vloerverwarming die op hun beurt de ruimte opwarmen. Typisch bevat deze installatie ook een grote tank waarin stookolie opgeslagen wordt.
            <li>Doorstroomboiler op elektriciteit:</li>
            Deze ketel verbrandt aardgas zodat de vrijgekomen warmte gestuurd kan worden naar bv.  radiatoren of vloerverwarming die op hun beurt de ruimte opwarmen. Hiervoor is een gasleiding vereist.
            <li>Zonneboiler:</li>
            Deze ketel bevat een elektrisch verwarmingselement zodat de opgewekte warmte gestuurd kan worden naar bv. radiatoren of vloerverwarming die op hun beurt de ruimte opwarmen. Met een zonneboiler bent u reeds duurzaam aan het verwarmen dus gaan we niet aanbevelen om deze te vervangen. In deze situatie gaan we enkel simuleren om uw ruimteverwarming te vervangen. 
        </ul>
        </div>
    
    <button type="button" class="collapsible">Zonnepanelen</button>
    <div class="content">
        <p> Daarnaast dient u nog aan te duiden of u al dan niet zonnepanelen heeft 
            geïnstalleerd op uw dak. Indien dit niet het geval is, 
            duiken we in de volgende stap dieper op wat het potentieel hiervan voor 
            uw woning kan zijn.
        </p>
    </div>



</div>



<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</div>

{% endblock %}