{% extends 'index.html' %}

{% block content %}

<div  class = "column" >
    
    <h1 class = "page_title"> Algemene gegevens </h1>
    <form method="POST">
        {{ form.csrf_token }}
        <p>Hoeveel personen leven er in uw woning?</p>
        <p> 
            <!-- {{ form.size.label }} -->
            {{ form.size(size=5, width = 50) }}
        </p>

        {% if form.size.errors %}
            <ul class="errors">
                {% for error in form.size.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
    
    <h1> Woninggegevens </h1>
    
    
        {{ form.csrf_token }}
        <p>Hoe sterk is uw woning geïsoleerd?</p>
        <p> 
            <!-- {{ form.isolatie.label }} -->
            {{ form.isolatie(size=5, width = 50) }}
        </p>

        {% if form.isolatie.errors %}
            <ul class="errors">
                {% for error in form.isolatie.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.csrf_token }}
        <p>Welk type verwarming heeft u?</p>
        <p> 
            <!-- {{ form.afgifte.label }} -->
            {{ form.afgifte(size=5, width = 50) }}
        </p>

        {% if form.afgifte.errors %}
            <ul class="errors">
                {% for error in form.afgifte.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.csrf_token }}
        <p>Heeft u een combisysteem voor verwarming en sanitair warm water (tapwater)?</p>
        <p> 
            <!-- {{ form.combi.label }} -->
            {{ form.combi(size=5, width = 50) }}
        </p>

        {% if form.combi.errors %}
            <ul class="errors">
                {% for error in form.combi.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}


    <p>
        <input type="submit" value="Volgende">
    </p>

    </form>
</div>


<div  class = "column" >
    <h1 class = "page_title"> Uitleg </h1>
    <p>Eerst en vooral hebben we enkel basisgegevens van de woning nodig. Het aantal personen dat hier woont is van belang om een inschatting te maken van het warmwatergebruik. Door op de secties hieronder te klikken kunt u per vraag extra uitleg raadplegen.
    </p>
<button type="button" class="collapsible">Isolatiegraad / isolatiesterkte</button>
<div class="content">
    <p>De isolatiegraad is dan weer van belang om te weten hoe energiezuinig de woning is. Deze hebben we in 3 categorieën onderverdeeld:
        <ul>
            <li>Goed geïsoleerd: 
                Er wordt voldaan aan de EPB-norm van 2006 door middel van een minimale isolatiedikte van 6 cm, hoog-rendementsbeglazing, basisventilatie en focus op luchtdichtheid.        
            </li>
            <br>
            <li>Matig geïsoleerd: 
                Muren, daken en vloeren hebben een isolatiedikte van tussen de 3 en 6 cm en er is hoog-rendementsbeglazing of dubbele beglazing aanwezig.
            </li>
            <br>
            <li>Slecht geïsoleerd: 
                Muren, daken en vloeren zijn niet of slechts gedeeltelijk geïsoleerd en er is enkele of dubbele beglazing aanwezig. Duidt deze optie aan indien u geen idee heeft van de huidige isolatiegraad van uw woning.
            </li>
        </ul> 
    </div>

<button type="button" class="collapsible">Type verwarming</button>
<div class="content">
    <p>
        <ul>
            <li>
            Via klassieke radiatoren: 
            Deze conventionele manier van verwarmen werkt op hoge temperatuur.
            </li>
            <br>
            <li>Via vloerverwarming: 
                Deze werken op lage temperatuur, zijn rendabel in combinatie met warmtepompen en zorgen over het algemeen voor een aangenamer binnenklimaat.
            </li>
        
        
        </ul>	
</div>
<button type="button" class="collapsible">Combisysteem</button>
<div class="content">
    <p>
        <ul>
            <li>
                Neen, ik heb geen combiketel: 
                Water voor ruimteverwarming en sanitair warm water zijn niet aan elkaar gekoppeld. De ketel staat in voor ruimteverwarming en sanitair warm water wordt opgewarmd door middel van een aparte boiler.
            </li>
            <br>
                <li>
                Ja, ik heb een combiketel. 
                Water voor ruimteverwarming en sanitair warm water zijn aan elkaar gekoppeld. Duidt deze optie aan indien u niet weet of uw huidig systeem een combiketel is of niet.
            </li>

        </ul>
</p>
</div>

</div>

</div>



<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
{% endblock %}