<!DOCTYPE html>

<html>
    <head>
        <title>Chart.js Bar Chart - Stacked</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
    <p>De grafiek toont een procentuele besparingen tussen de/het aangeraden scenario('s) en de huidige situatie.
        Dus een staaf met een hoogte van 60% betekend een besparing van 60% in de overeenkomstige categorie t.o.v. de huidige situatie
    </p>
    
        <canvas id="myChart" style="width:100%;height:100%"></canvas>
    
    </div>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        // const labels = {{labels | tojson}};
        const data = {
                labels: {{labels | tojson}},
                datasets: {{datasets | tojson}}
            };
            
        const config = {
            type: 'bar',
            data: data,
            options: {
                plugins: {
                    legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 25
                        }}},
                    
                 
                    title: {
                            display: true,
                            text: 'Vergelijking met de huidige situatie',                            
                            font: {
                                size: 20
                                                }
                                },
                            },
                    responsive: true,
                    interaction: {
                    intersect: false,
                            },
                    scales: {
                       
                        y: {display:true,
                        stacked: true,
                            title:
                                {
                                display:true,
                                text:"Besparing t.o.v. huidige situatie[%]",
                                font: {
                                        size: 20
                                        }
                    
                                },
                   
                    }
                        },
    
                    }
                };
    
        new Chart(ctx, config);
    
        </script>
    </body>
</html>