<!DOCTYPE html>
<html>
    
<head>
<title>Webtool CORE</title>
<link rel="icon" type="image/x-icon" href="static\images\Logo Webtool.jpg">
<link rel="stylesheet" href="static\css\base.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
  <div class="container">


<!-- Header -->
    <header>
        
        <a href = "https://www.thinkcore.be/"><img align="left" src="static\images\logoCORE.png" alt="Header Image"></a>
        <img align="right" src="static\images\commscope.png" alt="Header Image">
        <div>
            <!-- <a style="text-decoration:none; color:black" href = "/"><h1><p>S.A.B.I.N.E.</p></h1></a> -->
            <!-- <h2><p><span>Self</span> <span>Applicable</span> <span>Building</span> <span>Integration</span> of <span>Novel</span> <span>Energies</span></p></h2> -->
        </div>


    </header>

<!-- The flexible grid (content) -->
<!-- <div class="row"> -->

    <div class="main">
      <div class = "row">
      
       
        {% block content %}           
        {% endblock %}
    </div>
    
    </div>

<!-- Footer -->
    <footer>
        <div class ="row">

            <div>
                <!-- <a href = "https://www.thinkcore.be/"><img align="right" src="static\images\internet.png" alt="Header Image"></a>
                <a href = "https://www.instagram.com/thinkcore/"><img align="right" src="static\images\instagram.png" alt="Header Image"></a>
                <a href = "https://www.linkedin.com/company/core-cv/"><img align="right" src="static\images\linkedin.png" alt="Header Image"></a>
                <a href = "https://www.facebook.com/thinkcore"><img align="right" src="static\images\facebook.png" alt="Header Image"></a> -->



            </div>
          </div>
      
    </footer>

  </div>




</body>
</html>
    
    
    
    
  