{% extends 'index.html' %}

{% block content %}

    <p class = "page_title">3 stappen naar een warmtepomp</p>

<head>
    <title>uitleg tool</title>
  </head>

  <body>
    
    <p><strong>Welkom!</strong><br>
      Tijd om af te stappen van die fossiele brandstoffen en over te schakelen naar een warmtepomp (met zonnepanelen). 
     Met de combinatie van deze technologiën kunt u uw huis op een duurzame manier verwarmen en zo uw steentje bijdragen aan de energietransitie. <br><br>
     
     CORE ontwikkelde ‘3 Stappen Naar Een Warmtepomp’-webtool, die u <strong>snel en eenvoudig een overzicht geeft van types warmtepompen en welke het meest van toepassing is op uw woning</strong>. 
     Daarnaast krijgt u een schatting van uw investeringskost, besparingen op verbruik CO<sub>2</sub>-uitstoot.
     De resulterende cijfers in de tool zijn louter richtwaarden en indicatief. Voor een meer gedetailleerde uitwerking van uw situatie raden we aan om contact op te nemen met een deskundige die advies op maat kan verlenen.     
      <br><br> 
     
     Hoe dan ook geven de resulaten een inschatting en zouden ze u moeten overtuigen om de investering naar een milieuvriendelijke warmtevoorziening aan te gaan! U overtuigen is dan ook het doel van deze tool.      
      Warmtepompen zijn vaak een grote investering en het duurt redelijk lang om deze investering "terug te verdienen", maar dat mag u niet tegenhouden om uw steentje bij te dragen bij het oplossen van de klimaatproblematiek. 
      <br><br> 
      <strong>Bent u klaar om in 3 stappen te ontdekken welke warmtepomp bij uw woning past?
      Klik dan op ‘Volgende’!</strong>
      </p>

    <form action="/gegevens" method="get">
      <button type="submit" class = "submit">Volgende</button>
    </form>
  </body>


{% endblock %}