{% extends 'index.html' %}

{% block content %}

    <p class = "page_title">Startpagina</p>

<head>
    <title>uitleg tool</title>
  </head>

  <body>
    
    <p>Welkom!<br>
      Tijd om af te stappen van die fossiele brandstoffen en over te schakelen naar een warmtepomp (met zonnepanelen). 
     Met de combinatie van deze technologiën kunt u uw huis op een duurzame manier verwarmen en zo uw steentje bijdragen aan de energietransitie. <br><br>Via de door CORE ontwikkelde ‘3 Stappen Naar Een Warmtepomp’-webtool kunt u snel en eenvoudig checken welk type warmtepomp het meest van toepassing is op uw woning. Daarnaast wordt er een inschatting gemaakt van de investeringen en besparingen met betrekking tot het verbruik en de bijhorende CO2-uitstoot.
      Natuurlijk zijn de resulterende cijfers in de tool louter richtwaarden. Voor een meer gedetailleerde uitwerking van uw situatie raden we aan om contact op te nemen met een deskundige die advies op maat kan verlenen.
      <br><br> Ter verduidelijking: het doel van deze tool is om u te overtuigen de investering naar warmtevoorzieningen via een warmtepomp te maken, dit door aan te tonen wat de mogelijke besparingen kunnen zijn ten opzichte van uw hudige situatie. De grootte ordes van de resultaten kunnen als correct beschouwd worden maar ze zullen afwijken van resultaten in de werkelijkheid omdat er niet met alle factoren rekening gehouden kan worden. Maar de resulaten geven dus een inschatting en zouden u moeten overtuigen om de investering aan te gaan, warmtepompen zijn vaak een dure investering en het duurt redelijk lang om deze investering "terug te verdienen" maaar dat mag u niet tegenhouden om uw steentje bij te dragen bij bij het oplossen van de klimaatproblematiek. 
      <br><br> Terugverdientijd is volgens ook een begrip dat soms foutief gebruikt wordt, deze tool berekend de terugverdientijd om types wartepompen met elkaar te vergelijken. Maar de terugverdientijd mag niet vergeleken worden met de huidige installatie (op fossiele brandstoffen) want de overstap naar een warmtepomp moet zich niet per se terugverdienen als u met deze investering minder CO2 uitstoot zou dit al voldoende overtuiging moeten zijn!
      <br><br>Bent u klaar om in 3 stappen te ontdekken welke warmtepomp bij uw woning past?
      Klik dan op ‘Volgende’!
      </p>

    <form action="/gegevens" method="get">
      <button type="submit" class = "submit">Volgende</button>
    </form>
  </body>


{% endblock %}